<template>
  <body>

    <div class="jumbotron with-background">
      <div class="container text-center">
        <h1 style="color: rgb(15, 38, 153);">Hooly Rent</h1>
      </div>
    </div>

    <main>
      <div class="container marketing" style="  margin-top: 0px;">

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
              Animez votre ville !
              </h2>
            <p class="lead">
              Le temps d’un soir ou d’un week-end, créez l’événement en offrant une expérience street food originale à vos habitants.
            </p>
            <a href="http://localhost:5174/reservation">
            <button class="justify-content-center btn btn-primary">Voir les emplacements</button>
            </a>
        </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="width: 350px; height: 250px;" role="img"
             src="https://www.moon-event.fr/wp-content/uploads/2015/07/eattheroad-2015.jpg" />

          
          
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette2">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
              Des emplacement partout
              <span class="text-body-secondary">En ville.</span>
            </h2>
            <p class="lead">
              Another featurette? Of course. More placeholder content here to give you an
              idea of how this layout would work with some actual real-world content in
              place.
            </p>
            <button class="justify-content-center btn btn-primary">Reserver un emplacement</button>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="width: 350px; height: 250px;" role="img"
             src="https://www.moon-event.fr/wp-content/uploads/2015/07/eattheroad-2015.jpg"/>
              <title>Placeholder</title>
            
          </div>
        </div>
        <hr class="featurette-divider" />

        <!-- /END THE FEATURETTES -->
      </div>
      <!-- /.container -->

      <!-- FOOTER -->
      <div class="container dark">
        <footer class="py-3  my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <a href="" class="nav-link px-2 text-muted">Accueil</a><li class="nav-item"></li>
            <a href="" class="nav-link px-2 text-muted">Reservations</a><li class="nav-item"></li>
            <a href="" class="nav-link px-2 text-muted">About</a><li class="nav-item"></li>
            <a href="" class="nav-link px-2 text-muted">Contact</a><li class="nav-item"></li>
          </ul>

          <p class="text-center text-muted">© 2023 Hoolys Food trucks, Inc</p>
        </footer>
      </div>


    </main>
  </body>
</template>
<style>
.with-background {
  background-image: url('https://www.agence-evenementielle-innovevents.fr/wp-content/uploads/2019/05/food-truck-entreprise.jpg');
  background-size: 100% auto;
  /* Agrandir en hauteur */
  background-position: center;
  color: white;
  padding: 50px;
  height: 400px;
  /* Ajuster la hauteur de votre jumbotron */
}

.marketing{
  display: flex;
  margin-top: 20px;

}
.featurette{
  display:flex; 
  flex-direction: column-reverse;
  margin: 50px!important;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-end ;
}


.featurette2{
  display:flex; 
  flex-direction:column-reverse;
  margin:50px;
  align-content: center ;
}
.bd-placeholder-img {
  border-radius: 9px;
  max-width: 600px;
  width: 100%;
}

.col-md-7{
  font-size: 1rem;
  padding: 20px;
}

.col-md-5{
  width: 69.666667%!important;
}

.jumbotron{
  height: 100%;
  max-height: 600px;
}

h1{
  padding: 40px;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  color: black!important; 
  background-color: #f2f2f2f2;
  
}
</style>