<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h2 class="text-center mb-4">Se connecter</h2>
        <form @submit.prevent="loginForm">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" v-model="email" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" v-model="password" id="password" name="password" required>
          </div>
          <button type="submit" class="justify-content-center btn btn-primary">Se connecter</button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';

export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
      isLogged: false,
      };
  },
  methods: {
    async loginForm(data) {
      try {
    // Your login logic here

    this.$router.push('/myreservations');
    this.isLogged = true;
  } catch (error) {
    alert('Erreur lors de la connexion !');
  }
    },
  },
};
</script>
