<template>
  <div class="container">
    <h2>Liste des Réservations d'Emplacements</h2>
    <table class="table table-sm align-middle">
      <thead>
        <tr class="table-light">
          <th>Emplacement</th>
          <th>Date</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="reservation in reservations" :key="reservation.id">
          <td>{{ reservation.emplacementId }}</td>
          <td>{{ formatDate(reservation.Date) }}</td>
          <td>{{ reservation.statut[0]  }}</td>
          <td>
            <button class="btn btn-primary m-1">Modifier</button>
            <!-- Utilisez une méthode pour supprimer et rafraîchir la liste -->
            <button @click="deleteReservation(reservation.id)" class="btn btn-danger">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      reservations: [],
    };
  },
  methods: {
    formatDate(dateTime) {
      return new Date(dateTime).toLocaleString('fr-FR', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
      });
    },
    // Méthode pour supprimer une réservation et rafraîchir la liste
    deleteReservation(reservationId) {
      axios.delete(`http://127.0.0.1:8000/api/reservations/${reservationId}`)
        .then(() => {
          // Suppression réussie, rafraîchir la liste en effectuant une nouvelle requête GET
          this.refreshList();
        })
        .catch(error => {
          console.error(error);
        });
    },
    // Méthode pour rafraîchir la liste des réservations
    refreshList() {
      axios.get('http://127.0.0.1:8000/api/reservations')
        .then(response => {
          this.reservations = response.data['hydra:member'];
          console.log(this.reservations);

          // Pour extraire les IDs des emplacements
          this.reservations.forEach(reservation => {
            if (reservation.emplacement) {
              const emplacementId = reservation.emplacement.split('/').pop();
              reservation.emplacementId = emplacementId;
            }
          });
        })
        .catch(error => {
          console.error(error);
        });
    },
  },
  mounted() {
    // Charger la liste des réservations au chargement de la page
    this.refreshList();
  },
};
</script>
