
<template>
  <header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://truckevent.fr/wp-content/uploads/2021/02/logo-center-300.png" alt="logo" />
          Hooly Rent
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <router-link to="/">
                <a class="nav-link" aria-current="page">Accueil</a>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link to="/reservation">
                <a class="nav-link">Réserver un emplacement</a>
              </router-link>
            </li>
          </ul>
          <div class="authentication">
            <button v-on:click="logout" v-if="isLogged" class="btn btn-danger">Logout</button>

            <!-- if the user is logged in hide those button -->

            <router-link to="/login">
              <button v-if="!isLogged" class="btn btn-primary" type="submit">Se connecter</button>
            </router-link>
            <router-link to="/register">
              <button v-if="!isLogged" class="btn btn-primary mx-3" type="submit">Inscription</button>
            </router-link>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>
  
<script>
import axios from 'axios';
import loginForm from '@/views/Login.vue';

export default {
  data() {
    return {
      isLogged: true,
    };
  },
  methods: {
    async login() {
      const credentials = await axios.get('http://127.0.0.1:8000/login', {
        email: this.email,
        password: this.password,
        isLogged: true,
      });

      try {
         loginForm(credentials);
          // refresh the page
  
          this.$router.push('/myreservations');
         
          console.log(this.isLogged);

        
      }
      catch (error) {
        console.log(error);
      }
    },

//logout function
    logout() {
      this.isLogged = false;
      this.$router.push('/');
    },
  },
};
</script>
  
<style scoped>
img {
  width: 100px;
  height: 50px;
}
</style>
  