<template>
 <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h2 class="text-center mb-4">Inscription</h2>
    <form @submit.prevent="registerForm">
      
      <span>
        <label for="nom" class="form-label">Nom</label>
        <input class="form-control" type="text" id="nom" v-model="nom" required>
      </span>

      <span>
        <label for="prenom" class="form-label">Prénom</label>
        <input class="form-control" type="text" id="prenom" v-model="prenom" required>
      </span>

      <span>
        <label for="anniversaire" class="form-label">Anniversaire</label>
        <input class="form-control" type="date" id="anniversaire" v-model="anniversaire" required>
      </span>

      <span>
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="email" id="email" v-model="email" required>
      </span>

      <span>
        <label for="telephone" class="form-label">Téléphone</label>
        <input class="form-control" type="tel" id="telephone" v-model="telephone" required>
      </span>

      <span>
        <label for="password" class="form-label">Mot de passe</label>
        <input class="form-control" type="password" id="password" v-model="password" required>
      </span>

      <button class="btn btn-primary" style="margin-top: 15px" type="submit"> Inscription </button>
    </form>
  </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      nom: '',
      prenom: '',
      anniversaire: '',
      email: '',
      telephone: '',
      password: ''
    };
  },
  methods: {
    async registerForm() {
      try {
        const response = await axios.post('http://127.0.0.1:8000/register', {
          nom: this.nom,
          prenom: this.prenom,
          anniversaire: this.anniversaire,
          email: this.email,
          telephone: this.telephone,
          password: this.password,
        });
        alert('Inscription réussie!');
        this.$router.push('/myreservations');
      } catch (error) {
        alert('Erreur lors de l\'inscription!');
      }
    },
  },
};
</script>
