<template>
  <div id="section" style="width: 25%; margin-left: auto; margin-right: auto; margin-top: 12%;">
    <div
      style="width:100%;padding:20px;margin-bottom:10px;margin-top:5px;display:flex;flex-direction:column;text-align:center;align-items:center;"
      id="date-filter">
      <legend>Sélectionnez une date</legend>
      <input class="form-control" type="date" v-model="selectedDate" :min="minDate" @change="updateEmplacements">
    </div>
    <div class="emplac">
      <img
        src="https://octopus.cellar-c2.services.clever-cloud.com/media/cache/sylius_admin_product_original/_3W_Production/Locations/Plan_des_aires/contrexeville.jpg"
        alt="image_emplacement">
    </div>
    <br>
    <div class="btn-group">
      <select class="form-control" v-model="selectedEmplacement">
        <option value="">Choisir un Emplacement</option>
        <option v-for="emplacement in emplacements" :key="emplacement.id" :value="emplacement.id">
          {{ emplacement.id }}
        </option>
      </select>
      <br>
    </div>
    <button style="width: 25%; margin-top: 10px;" @click="submit" class="btn btn-success">GO!</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      minDate: '',
      selectedDate: '', // Utilisez selectedDate pour la date sélectionnée
      emplacements: [],
      selectedEmplacement: '',
      numero: ''
    };
  },
  mounted() {
    const today = new Date();
    today.setDate(today.getDate() + 1);
    const year = today.getFullYear();
    const month = String(today.getMonth() + 1).padStart(2, '0');
    const day = String(today.getDate()).padStart(2, '0');
    this.minDate = `${year}-${month}-${day}`;
    this.selectedDate = this.minDate; // Initialisez selectedDate avec minDate

    this.updateEmplacements(); // Appelez la méthode de mise à jour au chargement
  },
  methods: {
    async updateEmplacements() {
      if (!this.selectedDate) {
        return; // Ne faites rien si la date n'est pas définie
      }
      const selectedDate = new Date(this.selectedDate);

      axios.get('http://127.0.0.1:8000/api/emplacements')
        .then(response => {
          const allEmplacements = response.data['hydra:member'];
          const availableEmplacements = allEmplacements.filter(emplacement => emplacement.disponibilite === true);

          if (selectedDate.getDay() !== 5) {
            this.emplacements = availableEmplacements.slice(0, 7);

          } else {
            this.emplacements = availableEmplacements.slice(0, 6);
          }
          this.numero = availableEmplacements.numero;
        })
        .catch(error => {
          console.error(error);
        });
    },
    async submit() {

  const config = {
    headers: {
      'Content-Type': 'application/json',
    },
  };

  // Faites une requête POST pour créer la réservation
  axios.post('http://127.0.0.1:8000/api/reservations', {
    date: this.minDate,
    emplacement: "/api/emplacements/" + this.selectedEmplacement,
    statut: ["valider"],
    user: "/api/users/1",
  }, config)
  .then(response => {
    // Après la création de la réservation, récupérez les informations de l'emplacement sélectionné

    axios.get('http://127.0.0.1:8000/api/emplacements/' + this.selectedEmplacement)
      .then(emplacementResponse => {
        // Modifiez les données de l'emplacement
        const emplacementData = {
          ...emplacementResponse.data, // Récupérez toutes les données de l'emplacement
          disponibilite: false, // Mettez à jour la disponibilité
        };

        // Faites une requête PUT pour mettre à jour l'emplacement
        axios.put('http://127.0.0.1:8000/api/emplacements/' + this.selectedEmplacement, emplacementData, config)
          .then(updateResponse => {
            console.log("Emplacement mis à jour");
            this.$router.push('/myreservations');
          })
          .catch(updateError => {
            console.error("Erreur lors de la mise à jour de l'emplacement", updateError);
            this.$router.push('/reservation');
          });
      })
      .catch(emplacementError => {
        console.error("Erreur lors de la récupération des informations de l'emplacement", emplacementError);
        this.$router.push('/reservation');
      });
  })
  .catch(error => {
    console.error("Erreur lors de la création de la réservation", error);
    this.$router.push('/reservation');
  });
}
  },
};
</script>

<style>
.emplac img {
  height: 300px;
  width: 380px;
}
</style>
