

<template>
  <Navbar />
  <RouterView />
</template>

<script >
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import Navbar from './views/NavbarView.vue'

export default {
  components: {
    Navbar
  }
}
</script>